body {
  font-family:Georgia, 'Times New Roman', Times, serif
}

#reading-list li { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(223, 8, 26);
  padding: 10px;
  margin: 10px;
}

